accessible-pygments==0.0.5
    # via pydata-sphinx-theme
alabaster==1.0.0
    # via sphinx
alembic==1.18.4
    # via mlflow
altair==6.0.0
    # via skore (skore/pyproject.toml)
annotated-doc==0.0.4
    # via fastapi
annotated-types==0.7.0
    # via pydantic
anyio==4.12.1
    # via
    #   httpx
    #   starlette
asttokens==3.0.1
    # via stack-data
attrs==25.4.0
    # via
    #   jsonschema
    #   referencing
babel==2.18.0
    # via
    #   pydata-sphinx-theme
    #   sphinx
beautifulsoup4==4.14.3
    # via pydata-sphinx-theme
blake3==1.0.8
    # via skore-hub-project
blinker==1.9.0
    # via flask
cachetools==7.0.5
    # via
    #   mlflow-skinny
    #   mlflow-tracing
certifi==2026.2.25
    # via
    #   httpcore
    #   httpx
    #   requests
cffi==2.0.0
    # via cryptography
charset-normalizer==3.4.5
    # via requests
choreographer==1.2.1
    # via kaleido
click==8.3.1
    # via
    #   flask
    #   mlflow-skinny
    #   uvicorn
cloudpickle==3.1.2
    # via mlflow-skinny
comm==0.2.3
    # via ipywidgets
contourpy==1.3.3
    # via matplotlib
cryptography==46.0.5
    # via
    #   google-auth
    #   mlflow
cycler==0.12.1
    # via matplotlib
databricks-sdk==0.98.0
    # via
    #   mlflow-skinny
    #   mlflow-tracing
decorator==5.2.1
    # via ipython
diskcache==5.6.3
    # via skore-local-project
docker==7.1.0
    # via mlflow
docutils==0.21.2
    # via
    #   pydata-sphinx-theme
    #   sphinx
    #   sphinx-tabs
executing==2.2.1
    # via stack-data
fastapi==0.135.1
    # via mlflow-skinny
flask==3.1.3
    # via
    #   flask-cors
    #   mlflow
flask-cors==6.0.2
    # via mlflow
fonttools==4.62.0
    # via matplotlib
gitdb==4.0.12
    # via gitpython
gitpython==3.1.46
    # via mlflow-skinny
google-auth==2.49.0
    # via databricks-sdk
graphene==3.4.3
    # via mlflow
graphql-core==3.2.8
    # via
    #   graphene
    #   graphql-relay
graphql-relay==3.2.0
    # via graphene
greenlet==3.3.2
    # via sqlalchemy
gunicorn==25.1.0
    # via mlflow
h11==0.16.0
    # via
    #   httpcore
    #   uvicorn
httpcore==1.0.9
    # via httpx
httpx==0.28.1
    # via skore-hub-project
huey==2.6.0
    # via mlflow
idna==3.11
    # via
    #   anyio
    #   httpx
    #   requests
imagesize==2.0.0
    # via sphinx
importlib-metadata==8.7.1
    # via
    #   mlflow-skinny
    #   opentelemetry-api
iniconfig==2.3.0
    # via pytest
ipython==9.11.0
    # via ipywidgets
ipython-pygments-lexers==1.1.1
    # via ipython
ipywidgets==8.1.8
    # via rich
itsdangerous==2.2.0
    # via flask
jedi==0.19.2
    # via ipython
jinja2==3.1.6
    # via
    #   skore (skore/pyproject.toml)
    #   altair
    #   flask
    #   skrub
    #   sphinx
joblib==1.5.3
    # via
    #   skore (skore/pyproject.toml)
    #   scikit-learn
    #   skore-hub-project
    #   skore-local-project
    #   skore-mlflow-project
jsonschema==4.26.0
    # via altair
jsonschema-specifications==2025.9.1
    # via jsonschema
jupyterlab-widgets==3.0.16
    # via ipywidgets
kaleido==1.2.0
    # via skore (skore/pyproject.toml)
kiwisolver==1.5.0
    # via matplotlib
logistro==2.0.1
    # via
    #   choreographer
    #   kaleido
mako==1.3.10
    # via alembic
markdown-it-py==4.0.0
    # via rich
markupsafe==3.0.3
    # via
    #   flask
    #   jinja2
    #   mako
    #   werkzeug
matplotlib==3.10.8
    # via
    #   skore (skore/pyproject.toml)
    #   mlflow
    #   seaborn
    #   skore-hub-project
    #   skore-mlflow-project
    #   skrub
matplotlib-inline==0.2.1
    # via ipython
mdurl==0.1.2
    # via markdown-it-py
mlflow==3.10.1
    # via
    #   skore (skore/pyproject.toml)
    #   skore-mlflow-project
mlflow-skinny==3.10.1
    # via mlflow
mlflow-tracing==3.10.1
    # via mlflow
narwhals==2.18.0
    # via
    #   altair
    #   plotly
numpy==2.4.3
    # via
    #   skore (skore/pyproject.toml)
    #   contourpy
    #   matplotlib
    #   mlflow
    #   pandas
    #   scikit-learn
    #   scipy
    #   seaborn
    #   skops
    #   skore-hub-project
    #   skore-mlflow-project
    #   skrub
    #   xgboost-cpu
numpydoc==1.10.0
    # via skore (skore/pyproject.toml)
opentelemetry-api==1.40.0
    # via
    #   mlflow-skinny
    #   mlflow-tracing
    #   opentelemetry-sdk
    #   opentelemetry-semantic-conventions
opentelemetry-proto==1.40.0
    # via
    #   mlflow-skinny
    #   mlflow-tracing
opentelemetry-sdk==1.40.0
    # via
    #   mlflow-skinny
    #   mlflow-tracing
opentelemetry-semantic-conventions==0.61b0
    # via opentelemetry-sdk
orjson==3.11.7
    # via
    #   kaleido
    #   skore-hub-project
packaging==26.0
    # via
    #   altair
    #   gunicorn
    #   kaleido
    #   matplotlib
    #   mlflow-skinny
    #   mlflow-tracing
    #   plotly
    #   pytest
    #   skops
    #   sphinx
    #   sphinx-autosummary-accessors
pandas==2.3.3
    # via
    #   skore (skore/pyproject.toml)
    #   mlflow
    #   seaborn
    #   skore-mlflow-project
    #   skrub
parso==0.8.6
    # via jedi
pexpect==4.9.0
    # via ipython
pillow==12.1.1
    # via
    #   matplotlib
    #   sphinx-gallery
platformdirs==4.9.4
    # via skore-local-project
plotly==6.6.0
    # via skore (skore/pyproject.toml)
pluggy==1.6.0
    # via pytest
polars==1.38.1
    # via skore (skore/pyproject.toml)
polars-runtime-32==1.38.1
    # via polars
prettytable==3.17.0
    # via skops
prompt-toolkit==3.0.52
    # via ipython
protobuf==6.33.5
    # via
    #   databricks-sdk
    #   mlflow-skinny
    #   mlflow-tracing
    #   opentelemetry-proto
ptyprocess==0.7.0
    # via pexpect
pure-eval==0.2.3
    # via stack-data
pyarrow==23.0.1
    # via mlflow
pyasn1==0.6.3
    # via
    #   pyasn1-modules
    #   rsa
pyasn1-modules==0.4.2
    # via google-auth
pycparser==3.0
    # via cffi
pydantic==2.12.5
    # via
    #   fastapi
    #   mlflow-skinny
    #   mlflow-tracing
    #   skore-hub-project
pydantic-core==2.41.5
    # via pydantic
pydata-sphinx-theme==0.16.1
    # via skore (skore/pyproject.toml)
pydot==4.0.1
    # via skrub
pygments==2.19.2
    # via
    #   accessible-pygments
    #   ipython
    #   ipython-pygments-lexers
    #   pydata-sphinx-theme
    #   pytest
    #   rich
    #   sphinx
    #   sphinx-tabs
pyparsing==3.3.2
    # via
    #   matplotlib
    #   pydot
pytest==9.0.2
    # via pytest-timeout
pytest-timeout==2.4.0
    # via kaleido
python-dateutil==2.9.0.post0
    # via
    #   graphene
    #   matplotlib
    #   pandas
python-dotenv==1.2.2
    # via mlflow-skinny
pytz==2026.1.post1
    # via pandas
pyyaml==6.0.3
    # via mlflow-skinny
referencing==0.37.0
    # via
    #   jsonschema
    #   jsonschema-specifications
requests==2.32.5
    # via
    #   databricks-sdk
    #   docker
    #   mlflow-skinny
    #   skrub
    #   sphinx
rich[jupyter]==14.3.3
    # via
    #   skore (skore/pyproject.toml)
    #   skore-hub-project
    #   skore-local-project
    #   skore-mlflow-project
rpds-py==0.30.0
    # via
    #   jsonschema
    #   referencing
rsa==4.9.1
    # via google-auth
scikit-learn==1.8.0
    # via
    #   --override skore/overrides.txt
    #   skore (skore/pyproject.toml)
    #   mlflow
    #   skops
    #   skore-hub-project
    #   skore-mlflow-project
    #   skrub
scipy==1.17.1
    # via
    #   mlflow
    #   scikit-learn
    #   skops
    #   skore-hub-project
    #   skrub
    #   xgboost-cpu
seaborn==0.13.2
    # via skore (skore/pyproject.toml)
simplejson==3.20.2
    # via choreographer
six==1.17.0
    # via python-dateutil
skops==0.13.0
    # via mlflow
skore-hub-project==0.0.19
    # via skore (skore/pyproject.toml)
skore-local-project==0.0.5
    # via skore (skore/pyproject.toml)
skore-mlflow-project==0.0.2
    # via skore (skore/pyproject.toml)
skrub==0.8.0
    # via skore (skore/pyproject.toml)
smmap==5.0.3
    # via gitdb
snowballstemmer==3.0.1
    # via sphinx
soupsieve==2.8.3
    # via beautifulsoup4
sphinx==8.1.3
    # via
    #   skore (skore/pyproject.toml)
    #   numpydoc
    #   pydata-sphinx-theme
    #   sphinx-autosummary-accessors
    #   sphinx-copybutton
    #   sphinx-design
    #   sphinx-gallery
    #   sphinx-issues
    #   sphinx-tabs
sphinx-autosummary-accessors==2025.3.1
    # via skore (skore/pyproject.toml)
sphinx-copybutton==0.5.2
    # via skore (skore/pyproject.toml)
sphinx-design==0.7.0
    # via skore (skore/pyproject.toml)
sphinx-gallery==0.20.0
    # via skore (skore/pyproject.toml)
sphinx-issues==5.0.1
    # via skore (skore/pyproject.toml)
sphinx-tabs==3.5.0
    # via skore (skore/pyproject.toml)
sphinxcontrib-applehelp==2.0.0
    # via sphinx
sphinxcontrib-devhelp==2.0.0
    # via sphinx
sphinxcontrib-htmlhelp==2.1.0
    # via sphinx
sphinxcontrib-jsmath==1.0.1
    # via sphinx
sphinxcontrib-qthelp==2.0.0
    # via sphinx
sphinxcontrib-serializinghtml==2.0.0
    # via sphinx
sqlalchemy==2.0.48
    # via
    #   alembic
    #   mlflow
sqlparse==0.5.5
    # via mlflow-skinny
stack-data==0.6.3
    # via ipython
starlette==0.52.1
    # via fastapi
threadpoolctl==3.6.0
    # via scikit-learn
traitlets==5.14.3
    # via
    #   ipython
    #   ipywidgets
    #   matplotlib-inline
typing-extensions==4.15.0
    # via
    #   alembic
    #   altair
    #   beautifulsoup4
    #   fastapi
    #   graphene
    #   mlflow-skinny
    #   opentelemetry-api
    #   opentelemetry-sdk
    #   opentelemetry-semantic-conventions
    #   pydantic
    #   pydantic-core
    #   pydata-sphinx-theme
    #   sqlalchemy
    #   typing-inspection
typing-inspection==0.4.2
    # via
    #   fastapi
    #   pydantic
tzdata==2025.3
    # via pandas
urllib3==2.6.3
    # via
    #   docker
    #   requests
uvicorn==0.41.0
    # via mlflow-skinny
wcwidth==0.6.0
    # via
    #   prettytable
    #   prompt-toolkit
werkzeug==3.1.6
    # via
    #   flask
    #   flask-cors
widgetsnbextension==4.0.15
    # via ipywidgets
xgboost-cpu==3.2.0
    # via skore (skore/pyproject.toml)
zipp==3.23.0
    # via importlib-metadata
