version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 14
    commit-message:
      prefix: "chore(dependencies): GITHUB-ACTIONS"
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 14
      semver-patch-days: 7
    commit-message:
      prefix: "chore(dependencies): PIP"
    groups:
      test-dependencies:
        patterns:
          - "*"

    # It uses `ci/requirements/**/.python-version` to specify the python version used to
    # update `ci/requirements/**/test-requirements.txt`
