repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: https://github.com/kynan/nbstripout
    rev: 0.9.0
    hooks:
      - id: nbstripout
        args: [--keep-id]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:

      - id: ruff-check
        files: ^((skore|skore-hub-project|skore-local-project)/(hatch|src|tests))|(examples)/
        args: [--fix, --extend-select, I]

      - id: ruff-format
        files: ^((skore|skore-hub-project|skore-local-project)/(hatch|src|tests))|(examples)/

  - repo: local
    hooks:
    - id: ty
      alias: ty-skore
      name: ty skore/
      entry: uv run --with ty==0.0.17 ty check --project skore
      language: system
      pass_filenames: false

    - id: ty
      alias: ty-skore-hub-project
      name: ty skore-hub-project/
      entry: uv run --with ty==0.0.17 ty check --project skore-hub-project
      language: system
      pass_filenames: false

    - id: ty
      alias: ty-skore-local-project
      name: ty skore-local-project/
      entry: uv run ty check --project skore-local-project
      language: system
      pass_filenames: false
