repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args: [--keep-id]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff-check
        files: ^((skore|skore-hub-project|skore-local-project)/(hatch|src|tests))|(examples)/
        args: [--fix]
      - id: ruff-format
        files: ^((skore|skore-hub-project|skore-local-project)/(hatch|src|tests))|(examples)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        pass_filenames: false
        alias: mypy-skore
        name: mypy skore/
        files: ^skore/
        args: [--config-file=skore/pyproject.toml, skore]
        additional_dependencies: [IPython, matplotlib, numpy, polars, rich, scipy-stubs]
      - id: mypy
        pass_filenames: false
        alias: mypy-skore-hub-project
        name: mypy skore-hub-project/
        files: ^skore-hub-project/
        args: [--config-file=skore-hub-project/pyproject.toml, skore-hub-project]
        additional_dependencies: [skore, blake3, httpx, orjson, pandas-stubs, pydantic]
      - id: mypy
        pass_filenames: false
        alias: mypy-skore-local-project
        name: mypy skore-local-project/
        files: ^skore-local-project/
        args: [--config-file=skore-local-project/pyproject.toml, skore-local-project]
        additional_dependencies: [skore]
