exclude: |
     (?x)
     (fixtures/)|
     (^sphinx/)|
     (^docs/)

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        args: [--keep-id]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        files: ^(skore/(src|tests))|(examples)/
        args: [--fix]
      - id: ruff-format
        files: ^(skore/(src|tests))|(examples)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        files: ^(skore/src)/

  - repo: local
    hooks:
      - id: tsc
        language: node
        name: Use vue-tsc to typecheck skore-ui code.
        entry: bash -c "cd skore-ui && npm run type-check"
        files: ^skore-ui/
      - id: eslint
        language: node
        name: Use eslint to lint skore-ui code.
        entry: bash -c "cd skore-ui && npm run lint"
        files: ^skore-ui/
      - id: prettier
        language: node
        name: Use prettier to format skore-ui code.
        entry: bash -c "cd skore-ui && npm run format"
        files: ^skore-ui/
      - id: stylelint
        language: node
        name: Use stylelint to lint CSS.
        entry: bash -c "cd skore-ui && npm run style-lint"
        files: ^skore-ui/
