repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: https://github.com/kynan/nbstripout
    rev: 0.9.0
    hooks:
      - id: nbstripout
        args: [--keep-id]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:

      - id: ruff-check
        files: ^((skore|skore-hub-project|skore-local-project)/(hatch|src|tests))|(examples)/
        args: [--fix, --extend-select, I]

      - id: ruff-format
        files: ^((skore|skore-hub-project|skore-local-project)/(hatch|src|tests))|(examples)/

  - repo: local
    hooks:
    - id: ty
      alias: ty-skore
      name: ty skore/
      entry: ty check --project skore skore
      language: python
      pass_filenames: false
      additional_dependencies:
        - ty
        - IPython
        - anywidget
        - ipywidgets
        - joblib
        - matplotlib
        - numpy
        - pandas
        - plotly
        - rich
        - scikit-learn
        - skrub
        - seaborn
        - polars
        - pyarrow

    - id: ty
      alias: ty-skore-hub-project
      name: ty skore-hub-project/
      entry: ty check --project skore-hub-project skore-hub-project
      language: python
      pass_filenames: false
      additional_dependencies:
        - ty
        - skore
        - blake3
        - httpx
        - orjson
        - pandas-stubs
        - pydantic

    - id: ty
      alias: ty-skore-local-project
      name: ty skore-local-project/
      entry: ty check --project skore-local-project skore-local-project
      language: python
      pass_filenames: false
      additional_dependencies:
        - ty
        - skore
