#:schema https://json.schemastore.org/pyproject.json

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "mandr"
description = "..."
version = "0.1.0"
dependencies = [
  "Flask",
  "altair",
  "diskcache",
  "jinja2",
  "markdown",
  "pandas",
  "rich",
  "scikit-learn",
  "srsly",
  "fastapi",
  "matplotlib",
]

[project.optional-dependencies]
test = [
  "jsonschema[format]",
  "pre-commit",
  "pytest",
  "pytest-cov",
  "pytest-randomly",
  "ruff",
]
tools = [
  "pip-tools",
]

doc = [
  "sphinx",
  "sphinx-gallery",
  "seaborn",
  "networkx",
  "IPython",
  "statsmodels",
  "skrub",
  "inflect",
  "sentence-transformers",
  "tqdm",
]

[tool.hatch.build.targets.wheel]
packages = ["src/mandr"]

[tool.pytest.ini_options]
addopts = [
  "--cov=src/",
  "--cov=tests/",
  "--cov-branch",
  "--import-mode=importlib",
  "--no-header",
  "--verbosity=2",
]

[tool.ruff]
src = ["mandr"]
exclude = [
  "doc"
]

[tool.ruff.lint]
select = [
  # pycodestyle
  "E",
  # Pyflakes
  "F",
  # pyupgrade
  "UP",
  # flake8-bugbear
  "B",
  # flake8-simplify
  "SIM",
  # flake8-print
  "T",
  # isort
  "I",
  # pydocstyle
  "D",
]

[tool.ruff.lint.pydocstyle]
convention = "numpy"

[tool.ruff.lint.per-file-ignores]
"tests/*" = ["D"]
"examples/*" = [
  "D",
  # It's fine not to put the import at the top of the file in the examples
  # folder.
  "E402",
  # Useless expressions are useful!
  "B018",
]

[tool.typos.default.extend-words]
fpr = "fpr"
