{% if logs | length == 0 %}
<p>This path has no rendered logs attached.</p>
{% endif %}

{% if logs | length > 0 %}
<div class="pt-4" x-data="{ selected: '{{first_name}}' }">
    <nav class="-mb-px flex space-x-8" aria-label="Tabs">
        <ol role="list" class="flex items-center space-x-4">
            {% for name, html in logs %}
            <li>
                <button @click="selected = '{{name}}'" type="button" class="rounded bg-white px-2 py-1 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">{{name}}</button>
            </li>
            {% endfor %}
        </ol>
    </nav>
    <div class="pt-4">
        {% for name, html in logs %}
        <div :class="{ 'hidden': selected != '{{name}}' }">
            <pre class="text-xs">{{html}}</pre>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
