.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--animation-duration) var(--animation-easing);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.skore-ui {
  & * {
    transition:
      background-color var(--animation-duration) var(--animation-easing),
      border-color var(--animation-duration) var(--animation-easing),
      color var(--animation-duration) var(--animation-easing);
  }
}
