@font-face {
  font-display: block;
  font-family: icomoon;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/icomoon.eot?bsrkh");
  src:
    url("../fonts/icomoon.eot?bsrkh#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?bsrkh") format("truetype"),
    url("../fonts/icomoon.woff?bsrkh") format("woff"),
    url("../fonts/icomoon.svg?bsrkh#icomoon") format("svg");
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: icomoon !important;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}

.icon-trash::before {
  content: "\e900";
}

.icon-left-double-chevron::before {
  content: "\e901";
}

.icon-left-chevron::before {
  content: "\e902";
}

.icon-handle::before {
  content: "\e903";
}

.icon-more::before {
  content: "\e904";
}

.icon-branch::before {
  content: "\e905";
}

.icon-edit::before {
  content: "\e906";
}

.icon-copy::before {
  content: "\e907";
}

.icon-pill::before {
  content: "\e908";
}

.icon-new-document::before {
  content: "\e909";
}

.icon-recent-document::before {
  content: "\e90a";
}

.icon-plus::before {
  content: "\e90b";
}

.icon-plus-circle::before {
  content: "\e90c";
}

.icon-warning::before {
  content: "\e90d";
}

.icon-info::before {
  content: "\e90e";
}

.icon-error::before {
  content: "\e90f";
}

.icon-success::before {
  content: "\e910";
}

.icon-search::before {
  content: "\e911";
}

.icon-maximize::before {
  content: "\e912";
}

.icon-folder::before {
  content: "\e913";
}

.icon-plot::before {
  content: "\e914";
}

.icon-text::before {
  content: "\e915";
}

.icon-gift::before {
  content: "\e916";
}

.icon-pie-chart::before {
  content: "\e917";
}

.icon-chevron-left::before {
  content: "\e918";
}

.icon-chevron-down::before {
  content: "\e919";
}

.icon-chevron-right::before {
  content: "\e91a";
}

.icon-chevron-up::before {
  content: "\e91b";
}
