@font-face {
  font-display: block;
  font-family: icomoon;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/icomoon.eot?bsrkh");
  src:
    url("../fonts/icomoon.eot?bsrkh#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?bsrkh") format("truetype"),
    url("../fonts/icomoon.woff?bsrkh") format("woff"),
    url("../fonts/icomoon.svg?bsrkh#icomoon") format("svg");
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: icomoon !important;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}

.icon-ascending-arrow::before {
  content: "\e900";
}

.icon-bar-chart::before {
  content: "\e901";
}

.icon-bold::before {
  content: "\e902";
}

.icon-branch::before {
  content: "\e903";
}

.icon-bullets::before {
  content: "\e904";
}

.icon-calendar::before {
  content: "\e905";
}

.icon-check::before {
  content: "\e906";
}

.icon-chevron-down::before {
  content: "\e907";
}

.icon-chevron-left::before {
  content: "\e908";
}

.icon-chevron-right::before {
  content: "\e909";
}

.icon-chevron-up::before {
  content: "\e90a";
}

.icon-copy::before {
  content: "\e90b";
}

.icon-dashboard::before {
  content: "\e90c";
}

.icon-descending-arrow::before {
  content: "\e90d";
}

.icon-edit::before {
  content: "\e90e";
}

.icon-error-circle::before {
  content: "\e90f";
}

.icon-folder::before {
  content: "\e910";
}

.icon-gift::before {
  content: "\e911";
}

.icon-handle::before {
  content: "\e912";
}

.icon-hard-drive::before {
  content: "\e913";
}

.icon-history::before {
  content: "\e914";
}

.icon-info-circle::before {
  content: "\e915";
}

.icon-italic::before {
  content: "\e916";
}

.icon-large-bar-chart::before {
  content: "\e917";
}

.icon-left-double-chevron::before {
  content: "\e918";
}

.icon-list-sparkle::before {
  content: "\e919";
}

.icon-maximize::before {
  content: "\e91a";
}

.icon-moon::before {
  content: "\e91b";
}

.icon-more::before {
  content: "\e91c";
}

.icon-new-document::before {
  content: "\e91d";
}

.icon-pie-chart::before {
  content: "\e91e";
}

.icon-pill::before {
  content: "\e91f";
}

.icon-playground::before {
  content: "\e920";
}

.icon-plot::before {
  content: "\e921";
}

.icon-plus-circle::before {
  content: "\e922";
}

.icon-plus::before {
  content: "\e923";
}

.icon-podium::before {
  content: "\e924";
}

.icon-recent-document::before {
  content: "\e925";
}

.icon-search::before {
  content: "\e926";
}

.icon-square-cursor::before {
  content: "\e927";
}

.icon-success-circle::before {
  content: "\e928";
}

.icon-sun::before {
  content: "\e929";
}

.icon-text::before {
  content: "\e92a";
}

.icon-title::before {
  content: "\e92b";
}

.icon-trash::before {
  content: "\e92c";
}

.icon-warning-circle::before {
  content: "\e92d";
}

.icon-warning::before {
  content: "\e92e";
}
