/*
 Those variables come from the design system in figma.
*/
.skore-ui {
  --root-font-size: 14px;

  /* typography */
  --font-size-xxs: 0.65rem;
  --font-size-xs: 0.85rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.14rem;
  --font-size-lg: 1.42rem;
  --font-size-xlg: 1.57rem;
  --letter-spacing: -0.015em;
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  /* spacings */
  --spacing-4: 0.28rem;
  --spacing-6: 0.57rem;
  --spacing-8: 0.85rem;
  --spacing-10: 1.06rem;
  --spacing-12: 1.14rem;
  --spacing-16: 1.42rem;
  --spacing-20: 1.71rem;
  --spacing-24: 2.28rem;

  /* radii */
  --radius-xs: 4px;
  --radius-md: 6px;
  --radius-lg: 17px;
  --radius-xl: 32px;

  /* strokes */
  --stroke-width-md: 1px;
  --stroke-width-lg: 2px;

  /* animations */
  --animation-duration: 0.3s;
  --animation-easing: ease;

  /* sizes */
  --height-header: 44px;
  --width-toolbar: 60px;
}

@media (prefers-color-scheme: dark) {
  .skore-ui {
    /* backgrounds */
    --color-background-primary: #1a1a1a;
    --color-background-secondary: #222;
    --color-background-plots: #121212;
    --color-background-branding: #f08b30;

    /* text */
    --color-text-primary: #fff;
    --color-text-secondary: #a2a2a2;
    --color-text-tertiary: #f08b30;
    --color-text-branding: #f08b30;
    --color-text-button-primary: #fff;

    /* icons */
    --color-icon-primary: #f08b30;
    --color-icon-secondary: #a2a2a2;
    --color-icon-tertiary: #3043f0;
    --color-icon-quartenary: #7481f5;
    --color-icon-navigation-selected: #2e2e2e;

    /* strokes */
    --color-stroke-background-primary: #292a2a;
    --color-stroke-background-branding: #f08b30;
    --color-divider-background-secondary: #292a2a;

    /* shadow */
    --color-shadow: rgb(0 0 0/58%);
  }
}

@media (prefers-color-scheme: light) {
  .skore-ui {
    /* backgrounds */
    --color-background-primary: #fff;
    --color-background-secondary: #fafafb;
    --color-background-plots: #fdfdfd;
    --color-background-branding: #3043f0;

    /* text */
    --color-text-primary: #2f3037;
    --color-text-secondary: #616271;
    --color-text-tertiary: #f08b30;
    --color-text-branding: #3043f0;
    --color-text-button-primary: #fff;
    --color-icon-navigation-selected: #e2e4fa;

    /* icons */
    --color-icon-primary: #f08b30;
    --color-icon-secondary: #a2a2a2;
    --color-icon-tertiary: #3043f0;
    --color-icon-quartenary: #acb4f9;

    /* strokes */
    --color-stroke-background-primary: #eeeef0;
    --color-stroke-background-branding: #3043f0;
    --color-divider-background-secondary: #eeeef0;

    /* shadow */
    --color-shadow: rgb(0 0 0/19%);
  }
}
