@import url("./_reset.css");
@import url("./_variables.css");
@import url("./_typography.css");
@import url("./_animations.css");
@import url("./_icons.css");
@import url("./_highlight.css");
@import url("simplebar-vue/dist/simplebar.min.css");

.simplebar-scrollbar {
  &.simplebar-visible::before {
    opacity: 1;
  }

  &::before {
    background-color: var(--color-background-branding);
  }
}

.simplebar-inverted {
  .simplebar-scrollbar {
    &::before {
      background-color: var(--color-text-tertiary);
    }
  }
}
