[project]
name = "skore"
description = "the scikit-learn sidekick"
dynamic = ["license", "readme", "version"]
requires-python = ">=3.9, <3.13"
maintainers = [{ name = "skore developers", email = "skore@signal.probabl.ai" }]
dependencies = [
  "diskcache",
  "fastapi",
  "numpy",
  "plotly>=5,<6",
  "pyarrow",
  "rich",
  "scikit-learn",
  "skops",
  "uvicorn",
]
classifiers = [
  "Intended Audience :: Science/Research",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python",
  "Topic :: Software Development",
  "Topic :: Scientific/Engineering",
  "Development Status :: 3 - Alpha",
  "Operating System :: Microsoft :: Windows",
  "Operating System :: POSIX",
  "Operating System :: Unix",
  "Operating System :: MacOS",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
]

[project.urls]
Homepage = "https://probabl.ai"
Repository = "https://github.com/probabl-ai/skore"
Download = "https://pypi.org/project/skore/#files"
Issues = "https://github.com/probabl-ai/skore/issues"
"Release notes" = "https://github.com/probabl-ai/skore/releases"

[project.scripts]
skore = "skore.__main__:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.metadata.hooks.custom]
path = "hatch/metadata.py"
license-file = "../LICENSE"
readme-file = "../README.md"
version-default = "0.0.0+unknown"

[tool.hatch.build.targets.sdist]
only-include = ["src/", "hatch/"]
artifacts = ["src/skore/ui/static/"]

[tool.hatch.build.targets.wheel]
package = ["src/skore/"]
artifacts = ["src/skore/ui/static/"]

[project.optional-dependencies]
test = [
  "altair>=5,<6",
  "httpx",
  "matplotlib",
  "pandas",
  "pillow",
  "plotly",
  "polars",
  "pre-commit",
  "pytest",
  "pytest-cov",
  "pytest-order",
  "pytest-randomly",
  "pytest-xdist",
  "ruff",
  "scikit-learn<1.7",
  "skrub",
]

sphinx = [
  "IPython",
  "altair",
  "matplotlib",
  "numpydoc",
  "pandas",
  "polars",
  "kaleido",
  "pydata-sphinx-theme",
  "sphinx",
  "sphinx-design",
  "sphinx-gallery",
  "sphinx-copybutton",
  "sphinx-tabs",
  "skrub",
]

[tool.pytest.ini_options]
addopts = [
  "--doctest-modules",
  "--cov=src/",
  "--cov=tests/",
  "--cov-branch",
  "--import-mode=importlib",
  "--no-header",
  "--verbosity=2",
  # We ignore unwanted directories rather than including wanted ones, because
  # otherwise it becomes impossible to test only one file (the argument gets
  # appended to the defaults)
  "--ignore=doc",
  "--ignore=examples",
  "--ignore=notebooks",
]

[tool.coverage.run]
omit = [
  "src/skore/externals/*",
  "tests/*",
]

[tool.ruff]
src = ["skore"]
exclude = ["doc"]

[tool.ruff.lint]
select = [
  # pycodestyle
  "E",
  # Pyflakes
  "F",
  # pyupgrade
  "UP",
  # flake8-bugbear
  "B",
  # flake8-simplify
  "SIM",
  # flake8-print
  "T",
  # isort
  "I",
  # pydocstyle
  "D",
]

[tool.ruff.lint.pydocstyle]
convention = "numpy"

[tool.ruff.lint.per-file-ignores]
"src/*" = ["UP007"]
"tests/*" = ["D"]

[tool.typos.default]
extend-ignore-re = [
  # Line ignore with trailing `# spellchecker:disable-line`
  "(?Rm)^.*(#|//)\\s*spellchecker:disable-line$",
  # Line block with `# spellchecker:<on|off>`
  "(?s)(#|//)\\s*spellchecker:off.*?\\n\\s*(#|//)\\s*spellchecker:on",
]

[tool.typos.files]
extend-exclude = ["*.min.js"]

[tool.typos.default.extend-words]
# acronym for "False Positive Rate"
fpr = "fpr"
# typos considers pnd.NpNDArray as a typo and corrects it to pnd.NpANDArray
ND = "ND"
