IPython
altair
kaleido
numpydoc
plotly>=5,<6
polars
pydata-sphinx-theme
seaborn
sentence-transformers
skrub
sphinx-copybutton
sphinx-design
sphinx-gallery
sphinx-tabs
sphinx<8.2.0
sphinx_autosummary_accessors
