<div id="{{ container_id }}-wrapper">
    <template id="{{ container_id }}-template">
        <style>
{% include "theme.css" %}
{% include "help.css" %}
{% include "report.css" %}
        </style>
        {% include "diagnostic_display-content.html.j2" %}
    </template>

    <div id="{{ container_id }}"></div>

    <script>
{% include "report_theme.js" %}
{% include "diagnostic_display.js" %}
    </script>
</div>

<script>
skoreInitDiagnosticDisplay("{{ container_id }}");
</script>
