<div id="{{ container_id }}-wrapper">
    <template id="{{ container_id }}-template">
        <style>
{% include "help.css" %}
{% include "report.css" %}
        </style>
        {% include "estimator_report-content.html.j2" %}
    </template>

    <div id="{{ container_id }}">
        <div slot="table-report">{{ table_report | safe }}</div>
    </div>

    <script>
{% include "help.js" %}
{% include "estimator_report.js" %}
    </script>
</div>

<script>
skoreInitEstimatorReport("{{ container_id }}");
</script>
