altair==5.5.0
    # via skore-hub-project (skore-hub-project/pyproject.toml)
anyio==4.9.0
    # via httpx
attrs==25.3.0
    # via
    #   jsonschema
    #   referencing
certifi==2025.4.26
    # via
    #   httpcore
    #   httpx
    #   requests
cfgv==3.4.0
    # via pre-commit
charset-normalizer==3.4.1
    # via requests
contourpy==1.3.2
    # via matplotlib
coverage[toml]==7.8.0
    # via pytest-cov
cycler==0.12.1
    # via matplotlib
diskcache==5.6.3
    # via skore
distlib==0.3.9
    # via virtualenv
exceptiongroup==1.2.2
    # via
    #   anyio
    #   pytest
execnet==2.1.1
    # via pytest-xdist
filelock==3.18.0
    # via
    #   huggingface-hub
    #   virtualenv
fonttools==4.57.0
    # via matplotlib
fsspec==2025.3.2
    # via huggingface-hub
h11==0.16.0
    # via httpcore
httpcore==1.0.9
    # via httpx
httpx==0.28.1
    # via
    #   skore-hub-project (skore-hub-project/pyproject.toml)
    #   respx
huggingface-hub==0.30.2
    # via skops
identify==2.6.10
    # via pre-commit
idna==3.10
    # via
    #   anyio
    #   httpx
    #   requests
iniconfig==2.1.0
    # via pytest
jinja2==3.1.6
    # via
    #   altair
    #   skrub
joblib==1.4.2
    # via
    #   skore-hub-project (skore-hub-project/pyproject.toml)
    #   scikit-learn
    #   skore
jsonschema==4.23.0
    # via altair
jsonschema-specifications==2025.4.1
    # via jsonschema
kiwisolver==1.4.8
    # via matplotlib
markdown-it-py==3.0.0
    # via rich
markupsafe==3.0.2
    # via jinja2
matplotlib==3.10.1
    # via
    #   skore-hub-project (skore-hub-project/pyproject.toml)
    #   skore
    #   skrub
mdurl==0.1.2
    # via markdown-it-py
narwhals==1.37.0
    # via
    #   altair
    #   plotly
nodeenv==1.9.1
    # via pre-commit
numpy==2.2.5
    # via
    #   skore-hub-project (skore-hub-project/pyproject.toml)
    #   contourpy
    #   matplotlib
    #   pandas
    #   scikit-learn
    #   scipy
    #   skore
    #   skrub
packaging==25.0
    # via
    #   altair
    #   huggingface-hub
    #   matplotlib
    #   plotly
    #   pytest
    #   skops
    #   skrub
pandas==2.2.3
    # via
    #   skore
    #   skrub
pillow==11.2.1
    # via
    #   skore-hub-project (skore-hub-project/pyproject.toml)
    #   matplotlib
platformdirs==4.3.7
    # via virtualenv
plotly==6.0.1
    # via skore-hub-project (skore-hub-project/pyproject.toml)
pluggy==1.5.0
    # via pytest
polars==1.28.1
    # via skore-hub-project (skore-hub-project/pyproject.toml)
pre-commit==4.2.0
    # via skore-hub-project (skore-hub-project/pyproject.toml)
pyarrow==20.0.0
    # via skore-hub-project (skore-hub-project/pyproject.toml)
pygments==2.19.1
    # via rich
pyparsing==3.2.3
    # via matplotlib
pytest==8.3.5
    # via
    #   skore-hub-project (skore-hub-project/pyproject.toml)
    #   pytest-cov
    #   pytest-order
    #   pytest-randomly
    #   pytest-xdist
pytest-cov==6.1.1
    # via skore-hub-project (skore-hub-project/pyproject.toml)
pytest-order==1.3.0
    # via skore-hub-project (skore-hub-project/pyproject.toml)
pytest-randomly==3.16.0
    # via skore-hub-project (skore-hub-project/pyproject.toml)
pytest-xdist==3.6.1
    # via skore-hub-project (skore-hub-project/pyproject.toml)
python-dateutil==2.9.0.post0
    # via
    #   matplotlib
    #   pandas
pytz==2025.2
    # via pandas
pyyaml==6.0.2
    # via
    #   huggingface-hub
    #   pre-commit
referencing==0.36.2
    # via
    #   jsonschema
    #   jsonschema-specifications
requests==2.32.3
    # via
    #   huggingface-hub
    #   skrub
respx==0.22.0
    # via skore-hub-project (skore-hub-project/pyproject.toml)
rich==14.0.0
    # via
    #   skore-hub-project (skore-hub-project/pyproject.toml)
    #   skore
rpds-py==0.24.0
    # via
    #   jsonschema
    #   referencing
scikit-learn==1.6.1
    # via
    #   --override skore-hub-project/overrides.txt
    #   skore-hub-project (skore-hub-project/pyproject.toml)
    #   skops
    #   skore
    #   skrub
scipy==1.15.2
    # via
    #   scikit-learn
    #   skrub
six==1.17.0
    # via python-dateutil
skops==0.11.0
    # via
    #   skore-hub-project (skore-hub-project/pyproject.toml)
    #   skore
skore==0.8.2
    # via skore-hub-project (skore-hub-project/pyproject.toml)
skrub==0.5.3
    # via skore-hub-project (skore-hub-project/pyproject.toml)
sniffio==1.3.1
    # via anyio
tabulate==0.9.0
    # via skops
threadpoolctl==3.6.0
    # via scikit-learn
tomli==2.2.1
    # via
    #   coverage
    #   pytest
tqdm==4.67.1
    # via huggingface-hub
typing-extensions==4.13.2
    # via
    #   altair
    #   anyio
    #   huggingface-hub
    #   referencing
    #   rich
tzdata==2025.2
    # via pandas
urllib3==2.4.0
    # via requests
virtualenv==20.30.0
    # via pre-commit
xdoctest==1.2.0
    # via skore-hub-project (skore-hub-project/pyproject.toml)
