@import url("./_reset.css");
@import url("./_variables.css");
@import url("./_typography.css");
@import url("./_animations.css");
@import url("./_icons.css");
@import url("highlight.js/styles/atom-one-dark.css") screen and (prefers-color-scheme: dark);
@import url("highlight.js/styles/atom-one-light.css") screen and (prefers-color-scheme: light);

body {
  background-color: var(--background-color-normal);
  color: var(--text-color-normal);
}

.simplebar-scrollbar {
  &.simplebar-visible::before {
    opacity: 1;
  }

  &::before {
    background-color: var(--color-primary);
  }
}
