name: lint

on:
  pull_request:
  push:
    branches:
      - main
  merge_group:
    types: [checks_requested]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

defaults:
  run:
    shell: "bash"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.12"
          cache: pip

      - name: Install dependencies
        run: python -m pip install --upgrade pip pre-commit

      - name: Lint
        run: |
          pre-commit run --all-files check-yaml
          pre-commit run --all-files check-toml
          pre-commit run --all-files check-added-large-files
          pre-commit run --all-files check-merge-conflict
          pre-commit run --all-files detect-private-key
          pre-commit run --all-files end-of-file-fixer
          pre-commit run --all-files trailing-whitespace
          pre-commit run --all-files typos
          pre-commit run --all-files nbstripout
          pre-commit run --all-files ruff-check
          pre-commit run --all-files mypy
