name: pr-cleanup

on:
  pull_request_target:
    types: [closed]

permissions: {}

defaults:
  run:
    shell: "bash"

jobs:
  pr-clean-artifacts:
    if: always()
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - name: Clean artifacts
        run: |
          set -u

          ARTIFACTS=$( \
              gh api \
                 --paginate \
                 -H "Accept: application/vnd.github+json" \
                 -H "X-GitHub-Api-Version: 2022-11-28" \
                 /repos/probabl-ai/skore/actions/artifacts \
              | \
              jq -c " \
                 .artifacts[] \
                 | select((.workflow_run.head_branch == \"${HEAD_BRANCH}\") and (.workflow_run.head_repository_id == ${HEAD_REPOSITORY_ID})) \
                 | {id: .id, name: .name} \
              " \
          )

          for ARTIFACT in $ARTIFACTS; do
              ID=$(echo "${ARTIFACT}" | jq -r '.id')
              NAME=$(echo "${ARTIFACT}" | jq -r '.name')

              echo "Deleting artifact (NAME: \"${NAME}\", ID: \"${ID}\")"

              gh api \
                 --method DELETE \
                 --silent \
                 -H "Accept: application/vnd.github+json" \
                 -H "X-GitHub-Api-Version: 2022-11-28" \
                 /repos/${REPOSITORY_OWNER}/${REPOSITORY_NAME}/actions/artifacts/${ID}
          done
        env:
          GH_TOKEN: ${{ github.token }}
          REPOSITORY_OWNER: ${{ github.repository_owner }}
          REPOSITORY_NAME: ${{ github.event.repository.name }}
          HEAD_REPOSITORY_ID: ${{ github.event.pull_request.head.repo.id }}
          HEAD_BRANCH: ${{ github.head_ref }}

  pr-clean-documentation-preview:
    if: always()
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ vars.AWS_ROLE }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Clean documentation preview
        run: aws s3 rm "s3://${BUCKET}/${PULL_REQUEST_NUMBER}/" --recursive
        env:
          BUCKET: ${{ vars.DOCUMENTATION_PREVIEW_BUCKET }}
          PULL_REQUEST_NUMBER: ${{ github.event.number }}
