name: pr-display-code-coverage

on:
  workflow_run:
    workflows: [pytest]
    types: [completed]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  pr-display-code-coverage:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.event == 'pull_request' && github.event.workflow_run.conclusion == 'success' }}
    strategy:
      fail-fast: false
      matrix:
        package: ["skore", "skore-hub-project", "skore-local-project", "skore-mlflow-project"]
    permissions:
      actions: read
      contents: read
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          sparse-checkout: .github

      - name: Download coverage reports
        id: download-coverage-reports
        continue-on-error: True
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ${{ matrix.package }}-coverage
          path: coverage/
          github-token: ${{ github.token }}
          run-id: ${{ github.event.workflow_run.id }}

      - name: Acquire PR context
        if: ${{ steps.download-coverage-reports.outcome == 'success' }}
        id: acquire-pr-context
        uses: ./.github/actions/workflow-run/context

      - name: Display coverage reports
        if: ${{ steps.download-coverage-reports.outcome == 'success' }}
        uses: MishaKav/pytest-coverage-comment@ae0e8a539a3f310aefb3bfb6a2209778a21fa42b # v1.2.0
        with:
          issue-number: ${{ steps.acquire-pr-context.outputs.pr-number }}
          pytest-xml-coverage-path: coverage/pytest-coverage.xml
          junitxml-path: coverage/pytest.xml
          title: Coverage Report for `${{ matrix.package }}/`
          unique-id-for-comment: ${{ matrix.package }}
