name: Sphinx

on:
  pull_request:
    paths:
      - '.github/actions/sphinx/**'
      - '.github/workflows/sphinx.yml'
      - 'examples/**'
      - 'sphinx/**'
      - 'skore/**'
  push:
    branches:
      - main
    paths:
      - '.github/actions/sphinx/**'
      - '.github/workflows/sphinx.yml'
      - 'examples/**'
      - 'sphinx/**'
      - 'skore/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  sphinx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY }}
      # - uses: actions/setup-python@v5
      #   with:
      #     python-version: '3.12'
      #     cache: 'pip'
      # - uses: ./.github/actions/sphinx/build
      # - if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
      #   uses: ./.github/actions/sphinx/deploy
