name: Sphinx

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/sphinx.yml'
      - 'examples/**'
      - 'skore/**'
      - 'sphinx/**'

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  sphinx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
      - name: Build
        run: |
          python -m pip install --upgrade pip
          python -m pip install './skore[sphinx]'

          ( \
              cd sphinx; \
              make html; \
          )

          rm -rf docs/latest
          mv sphinx/build/html docs/latest
      - name: Commit
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'

          git add docs/latest
          git commit -m 'docs: Build documentation triggered by ${{ github.sha }}'
          git push
